{% extends "blog/base.html" %}
{% load static %}
{% block extra_head %}
<script src="{% static 'blog/js/login.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class="login-form">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <button type="submit">Login</button>
    </form>
    <p>Need an account? <a href="{% url 'register' %}">Sign Up</a></p>
</div>
{% endblock content %}
